<div class="container mt-5">
  <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/movies">
        <div class="input-group mb-3">
          <input type="text" name="search" class="form-control" placeholder="Enter movies info to search..."
            aria-label="movies info" aria-describedby="button-addon-search" value="{{keyword}}">
          <button class="btn btn-outline-dark" type="submit" id="button-addon-search">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="data-panel">
    {{#each movies as |movie|}}
    <div class="col-sm-3">
      <a href="/movie/{{movie.id}}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="{{../BASE_IMG_URL}}{{movie.image}}" alt="Card image cap">
          <div class="card-body movie-item-body">
            <h6 class="card-title">{{movie.title}}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
</div>